/* 기본 크기 */
.number-picker {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #ffffff;
  width: 326px;
  height: 60px;
  padding: 0 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px 1px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.number-picker--small {
  width: 196px; /* small 크기 */
  height: 60px; /* 동일 높이 */
  padding: 0 12px; /* 내부 여백 축소 */
}

.number-picker-display {
  flex: 1;
  font-size: 16px;
  margin-left: 15px;
  color: #b8b8b8;
}

.number-picker-display.modified-value {
  color: #3b3b3b;
}

.number-picker-label {
  margin-left: auto;
  margin-right: 20px;
  font-size: 16px;
  color: #3b3b3b;
  font-weight: bold;
  text-align: right;
}

.number-picker-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 18px;
  background-color: #ededed;
  border: 1px solid #dcdbdc;
  cursor: pointer;
}

.button-container:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.button-container:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-container:hover {
  background-color: #dcdcdc;
}

.button-container:active {
  background-color: #c8c8c8;
}

.number-picker-icon {
  color: #b8b8b8;
}
.number-picker-input {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #ffffff; /*border를 없앴더니 검은색 테두리가 생성되어서 배경색과 강제로 맞춤*/
  border-radius: 4px;
  padding: 8px;
  width: 60px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b;
}

.number-picker-input::-webkit-inner-spin-button,
.number-picker-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-picker-input:focus {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: none;
  outline: none;
}
